body{
    font-family: 'Cormorant SC', serif;
}

header {
    background: #c8e9ff;
    padding: 5px 0;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 100px;
    left: 500px;
    
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
nav a:hover {
    color: #116298;
    text-decoration: underline;
}

.slogan-pg {
    position: static;
    top: 500px;
    background: #116298;
    color: #ffffff;
    font-weight: bold;
    padding: 40px;
    margin: -35px 90px 55px 90px;
    text-align: center;
    font-size: 40px;
    border-color:#083f63;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}

.slogan-pg h1 {
    padding: 10px;
}

.titulo-serviços-pg {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.main-pg {
    display: inline-block;
}
.serviços {
    width: 940px;
    margin: 0 auto;
}

.serviços li{
    display: inline-block;
    text-align: center;
    width: 31%;
    vertical-align: top;
    margin:5px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 20px ;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    box-sizing: border-box;
 
}

.sobrancelha {
    padding: 5px;


}

.serviços li:hover {
    color: #116298;
}

.serviços li:hover h2{
    font-size:30px ;
}

.serviços li:active {
    color: #083f63;
}
.serviços h2{
    font-size: 23px;
    font-weight: bold;
    margin: 15px auto;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;

}

.descricao-servico {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 10px auto;
    padding: 10%;
}

.cupom {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.cupom-botao{
    width: 40%;
    padding: 10px 0;
    margin: 30px 455px;
    background: rgb(93, 174, 235);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.cupom-botao:hover {
    background: rgb(4, 124, 180);
    transform: scale(1.1);
}
footer {
    text-align: center;
    background-color: #c8e9ff;
    color: #120909;
    font-weight: bold;
    padding: 20px;
}
footer p {
    margin: 10px 10px;
}

.rodape-contato ul {
    margin: 30px;
}

.rodape-contato li {
    display: inline-block;
    margin: 5px 5px;
}

.rodape-contato img {
    width: 40px;
    height: 40px;
}
.logo-rodape{
    width: 285px;
    height: 151px;
    padding: 1px;
}
form {
    padding: 10px 20px 20px; 

}

form label, form legend {
    display:block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 15px;
}
form select{
    margin: 5px 5px 7px 30px;
}
.input-padrao {
    display:block;
    margin: 20px 0px 15px 20px;
    padding: 10px;
    width: 50%;
    font-size:17px;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 20%;
    padding: 10px 0;
    margin: 5px 65px;
    background: rgb(93, 174, 235);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(4, 124, 180);
    transform: scale(1.1);
}

table{
    margin: 10px 20px 35px 45px; 
    font-size: 25px;
    text-align: center;

}

thead{
    background:#116298;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 9px 15px; 
}

.banner {
    width: 100%;
    margin: 40px;
}

.diaehora  {
    font-weight: bold;
    margin: 10px 35px 10px 65px;
    font-size: 25px;
}

.mapa {
    margin: 35px 25px;
    text-align: center;
}
.mapa p{
    margin: 25px 5px;
    font-size: 28px;
    font-weight: bold;

}